$blue: #009ecd;

body {
    font-family: helvetica, sans-serif;
    margin: 0;

    .container {
        padding: 10px 20px;
    }

    h1 {
        color: $blue;
    }

    ul  {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            padding: 16px;
        }
        li:nth-child(odd) {
            background-color: #dcdcdc;
        }
    }

    header {
        background-color: $blue;
        color: #fff;
        padding: 20px;
    }

    footer {
        background-color: #f1f1f1;
        border-top: 1px solid #dcdcdc;
        position: absolute;
        bottom: 0;
        padding: 20px;
        width: 100%;
    }
}